@CHARSET "UTF-8";
head,body{
	height:60%;
}
#panel {
	width: 550px;
	margin-left:-40%;
}
.container .centered-form .panel-default .panel-heading .panel-title{
	margin-left:170px;
}
.centered-form {
	margin-top: 10px;
}

.centered-form .panel {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label {
	font-weight: normal;
}

#btn-confirm {
	background: #0000ff;
}